* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
}

.left-side {
  position: relative;
  display: flex;
  flex-basis: 35%;
  flex-direction: column;

  justify-content: center;
  background-image: url("bg-img.jpeg");
  background-size: cover;
}

.credit {
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.credit h3 {
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 0.8rem;
}
.credit a {
  color: inherit;
}

.overlay {
  position: absolute;
  top: 30%;
  width: 35vw;
  height: 15vh;
  padding: 20px 0;
  display: inline-flex;
  color: white;
  text-shadow: 1px 1px 2px black;
  justify-content: center;
  background-color: rgba(30, 30, 30, 0.1);
}

.overlay img {
  width: max(3vw, 5vw);
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.overlay h2 {
  margin: 10px 0;
  font-size: clamp(1.5rem, 4.5rem, 5vw);
  font-family: "GFS Neohellenic", sans-serif;
}

.right-side {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.statement {
  font-size: 1.5rem;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 80%;
}

.top-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  background: hsl(0deg, 0%, 98%);
  flex-direction: column;

}

.middle-section {
  flex: 1;
}

form {
  border: 1px solid hsl(0deg, 20%, 90%);
  padding: 5%;
}

label {
  font-size: 0.9rem;
}

fieldset {
  border: none;
}

.bottom-section {
  flex: 1;
}
