* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.container {
  display: flex;
  height: 100vh;
}

.left-side {
  position: relative;
  display: flex;
  flex-basis: 35%;
  flex-direction: column;

  justify-content: center;
  background-image: url("bg-img.jpeg");
  background-size: cover;
}

.credit {
  position: absolute;
  bottom: 15px;
  width: 100%;
}

.credit h3 {
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: 0.8rem;
}
.credit a {
  color: inherit;
}

.overlay {
  position: absolute;
  top: 30%;
  width: 35vw;
  height: 15vh;
  padding: 20px 0;
  display: inline-flex;
  color: white;
  text-shadow: 1px 1px 2px black;
  justify-content: center;
  background-color: rgba(30, 30, 30, 0.1);
}

.overlay img {
  width: max(3vw, 5vw);
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.overlay h2 {
  margin: 10px 0;
  font-size: clamp(1.5rem, 4.5rem, 5vw);
  font-family: "GFS Neohellenic", sans-serif;
}

.right-side {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: hsl(0deg, 0%, 98%);
}
.statement {
  font-size: clamp(1rem, 3vw, 1.5rem);
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 80%;
}

.top-section {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}

.middle-section {

  flex: 1;
  background-color: white;
  box-shadow: 0px 5px 3px #ddd;
}

.bottom-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  padding: 2rem 3rem;

}

form {
  padding: 5%;
  border: none;

}

legend {
  font-size: clamp(1rem, 3vw, 1.5rem);
  margin: 5px;
}

fieldset {
  display: flex;
  gap: 5vw;
  border: none;
  padding: 5px;
}

.form-element {
  display: flex;
  flex-direction: column;
}

label {
  display: inline-block;
  letter-spacing: 2px; 
  font-family: monospace;
  font-size: clamp(10px, 12px, 1vw);
}

input {
  appearance: none;
  display: inline-block;
  width: 15vw;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

input:invalid {
  border: 2px solid red;
}

button {
  width: 15vw;
  color: white;
  padding: 12px 0;
  background-color: green;
  font-size: 1.1rem;
  border: 1px outset white;
  border-radius: 10px;
  box-shadow: 2px 2px 2px lightgrey;
}

.login {
  font-size: 1rem;
  font-weight: 300;
}

.login-link {
  color: green;
  text-decoration: none;
  font-weight: 500;
}
